<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>EMWC</title>

		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

		<link href='/fullcalendar/fullcalendar.min.css' rel='stylesheet' />
		<link href='/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
		<script src='/moment/moment.min.js'></script>
		<script src='/js/jquery-2.2.4.min.js'></script>
		<script src='/fullcalendar/fullcalendar.min.js'></script>

		<script type="text/javascript" src="/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="/datepicker/bootstrap-datetimepicker.min.js"></script>
		<!--link rel="stylesheet" type="text/css" href="/fullcalendar/fullcalendar.min.css">
		
		<script type="text/javascript" src="/datepicker/transitions.js"></script>
		<script type="text/javascript" src="/datepicker/collapse.js"></script>

		<link rel="stylesheet" type="text/css" href="/fullcalendar/fullcalendar.print.css"-->
		
		<!--script type="text/javascript" src="/fullcalendar/fullcalendar.min.js"></script-->
		{{!-- <link rel="stylesheet" type="text/css" href="/datepicker/bootstrap-datetimepicker-standalone.min.css"> --}}

		<script type="text/javascript" src="/js/interactive.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/custom.css">

		<style type="text/css">
			li[role="presentation"] {
				border: 3px solid #ddd;
			}
		</style>
		
	</head>
	<body>

		<div class="container">
			<nav id="mainNav" class="navbar navbar-default">
			    <div class="container-fluid">
			        <!-- Brand and toggle get grouped for better mobile display -->
			        <div class="navbar-header">
			            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			                <span class="sr-only">Toggle navigation</span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			            </button>
			            <a class="navbar-brand page-scroll" href="/">EMWC</a>
			        </div>
			        <!-- /.navbar-collapse -->
			    </div>
			    <!-- /.container-fluid -->
			</nav>

			<div >
				<h3 id="page-head">Admin Panel</h3>
			</div>
			
			{{{body}}}

			<div class="container-fluid" id="service-manager">

				<form method="POST" action="/add/event" id="add-event-form">

					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog modal-sm modal-dialog modal-sm" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <input name="title" type="text" class="modal-title" id="myModalLabel" placeholder="Modal title" required />
					      </div>
					      <div class="modal-body">

					        <div class="container-fluid">
					        	<div class="row">
					                <div class='col-lg-6'>
					                    <div class="form-group">
					                        <div class='input-group date'>
					                            <span class="input-group-addon">
					                                <span class="glyphicon glyphicon-calendar"></span>
					                            </span>
					                            <input placeholder="Start Date" name="start" type='text' class="form-control" id='datetimepicker1' required />
					                        </div>
					                    </div>
					                </div>
					                <script type="text/javascript">
					                    $(function () {
					                        $('#datetimepicker1').datetimepicker();
					                    });
					                </script>
					            </div>

				                <div class="row">
				                    <div class='col-lg-6'>
				                    	<div class='input-group date'>
				                    	    <span class="input-group-addon">
				                    	        <span class="glyphicon glyphicon-calendar"></span>
				                    	    </span>
				                    	    <input placeholder="End Date" name="end" type='text' class="form-control" id='datetimepicker4' required />
				                    	</div>
				                    </div>
				                    <script type="text/javascript">
				                        $(function () {
				                            $('#datetimepicker4').datetimepicker();
				                        });
				                    </script>
				                </div>
				            </div>

					      </div>
					      <div class="modal-footer">
					        <button type="button" id="save-event" class="btn btn-default" data-dismiss="modal">Close</button>
					        <button type="submit" class="btn btn-primary">Save changes</button>
					      </div>
					    </div>
					  </div>
					</div>

				</form>

			</div>

		</div>

	</body>
</html>