<div class="container-fluid">

	<ol class="breadcrumb">
		
		<li class="active">
			Home
		</li>
	</ol>

	<div class="container-fluid">

		<ul class="nav nav-pills nav-justified">
			<li role="presentation">
				<a href="/customers">Customers</a>
			</li>
			<li role="presentation">
				<a href="/products">Products</a>
			</li>
			<li role="presentation">
				<a href="/invoices">Invoices</a>
			</li>
		</ul>

	</div>

</div>