<div class="container-fluid">

	<ol class="breadcrumb">
		<li>
			<a href="/">List Customers</a>
		</li>
		<li class="active">New Customer</li>
	</ol>

	<form class="form" action="/" method="GET">

		<div class="col-md-12">

			<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
				<ul class="nav nav-tabs" id="myTabs" role="tablist">
					
					<li role="presentation" class="">
						<a href="#personal-info" id="personal-info-tab" role="tab" data-toggle="tab" aria-controls="personal-info" aria-expanded="false">Personal Info</a>
					</li>

					<li role="presentation" class="active">
						<a href="#address" role="tab" id="address-tab" data-toggle="tab" aria-controls="address" aria-expanded="false">address</a>
					</li>
				</ul>

				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade" role="tabpanel" id="personal-info" aria-labelledby="personal-info-tab">
						<div class="panel panel-default col-md-6">
							<div class="panel-body">

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="company_name">Company</span>
								  <input style="width:300px" type="text" class="form-control" name="company_name" placeholder="" aria-describedby="company_name">
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="contact_person">Contact</span>
								  <input style="width:300px" type="text" class="form-control" placeholder="" aria-describedby="contact_person" name="fullname">
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="title">Title</span>
								  <input style="width:300px" name="title" type="text" class="form-control" placeholder="" aria-describedby="title">
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="dept">Dept.</span>
								  <input style="width:300px" name="dept" type="text" class="form-control" placeholder="dept" aria-describedby="dept">
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="title">Title</span>
								  <input style="width:300px" name="title" type="text" class="form-control" placeholder="" aria-describedby="title">
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="phone">Phone</span>
								  <input style="width:300px" name="phone" type="text" class="form-control" placeholder="" aria-describedby="phone">
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="email">E-mail</span>
								  <input style="width:300px" name="email" type="text" class="form-control" placeholder="" aria-describedby="email">
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="website">Website</span>
								  <input style="width:300px" name="website" type="text" class="form-control" placeholder="" aria-describedby="website">
								</div>
							</div>	
						</div>

						<div class="col-md-12 pull-right">
							<div  id="next-detail">
							<a class="btn btn-success col-md-2" href="#address" role="tab" id="address-tab" data-toggle="tab" aria-controls="address" aria-expanded="false">Next</a>
							</div>
							
							<a href="/" class="btn btn-default col-md-offset-1">cancel</a>
						</div>

					</div>

					<div class="tab-pane fade" role="tabpanel" id="address" aria-labelledby="address-tab">
						<div class="panel panel-default col-md-6">
							<div class="panel-body">

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="unit">Unit</span>
								  <input style="width:300px" name="unit" type="text" class="form-control" placeholder="" aria-describedby="unit">
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="address">Address</span>
								  <input style="width:300px" name="address" type="text" class="form-control" placeholder="" aria-describedby="address">
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="city">City</span>
								  <input style="width:300px" name="city" type="text" class="form-control" placeholder="" aria-describedby="city">
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="state">State   .</span>
								  <input style="width:300px" name="state" type="text" class="form-control" placeholder="" aria-describedby="state">
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="country">Country</span>
								  <input style="width:300px" name="country" type="text" class="form-control" placeholder="" aria-describedby="country">
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="zip_code">Zip</span>
								  <input style="width:300px" name="zip_code" type="text" class="form-control" placeholder="" aria-describedby="zip_code">
								</div>
							</div>	
						</div>

						<div class="col-md-12 pull-right">
							<button class="btn btn-success col-md-2" type="submit">Save</button>
							<a href="/" class="btn btn-default col-md-offset-1">Cancel</a>
						</div>

					</div>
				</div>
			</div>
			
		</div>
	</form>
</div>