<div class="container-fluid">

	<ol class="breadcrumb">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/invoices">Customers</a>
		</li>
		<li class="active">New Customer</li>
	</ol>

	<style type="text/css">

		#calendar {
			width: 700px;
			/*height: 200px;*/
			/*border: grey solid;*/
			margin-bottom: 10px;
		}

		#toggle-calendar {
			color: green;
			margin-bottom: 10px;
			margin-top: 10px;
		}

		#insert-calendar {
			border-top: thin black solid;
			padding-top: 10px;
		}


	</style>

	<div class="container-fluid">

		<div class="col-lg-12">

			<a href="#" id="toggle-calendar" class="col-sm-2 btn btn-default">
				<b>Toggle Calendar</b>
			</a>

		</div>

		<div class="col-lg-12" id="insert-calendar">
			<div id="calendar">

			</div>
		</div>

	</div>

	<div id="products-select">

		<!-- Modal -->
		<div class="modal fade" id="productsList" tabindex="-1" role="dialog" aria-labelledby="productsListLabel">
		  <div class="modal-dialog modal-md modal-dialog modal-md" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h3 name="title" class="modal-title" id="productsListLabel"/>Select Products</h3>
		      </div>
		      <div class="modal-body">

		        <div class="container-fluid">
		        	<div class="row">
		                <div class='col-lg-12'>
		                    <div class="form-group" id="list-here">
		                        
		                    </div>
		                </div>
		            </div>
	            </div>

		      </div>
		      <div class="modal-footer">
		        <button type="button" id="save-event" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>

	</div>

	<form class="form" action="/add/customer" method="POST" enctype="multipart/form-data">

		<div class="col-md-12">

			<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
				<ul class="nav nav-tabs" id="myTabs" role="tablist">
					
					<li role="presentation" class="">
						<a href="#personal-info" id="personal-info-tab" role="tab" data-toggle="tab" aria-controls="personal-info" aria-expanded="false">Personal Info</a>
					</li>
					<li role="presentation" class="">
						<a href="#address" id="address-tab" role="tab" data-toggle="tab" aria-controls="address" aria-expanded="false">Address</a>
					</li>
				</ul>

				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade" role="tabpanel" id="personal-info" aria-labelledby="personal-info-tab">
						<div id="product_list" class="col-md-6 pull-right panel panel-default"></div>
						<div class="panel panel-default col-md-6">
							<div class="panel-body">

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="company">Company</span>
								  <input style="width:300px" type="text" class="form-control" name="company" placeholder="" aria-describedby="company">
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="contact">Name</span>
								  <input style="width:300px" type="text" class="form-control" placeholder="" aria-describedby="contact" name="contact">
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="phone">Phone</span>
								  <input style="width:300px" name="phone" type="text" class="form-control" placeholder="" aria-describedby="phone">
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="phone2">Phone2</span>
								  <input style="width:300px" name="phone2" type="text" class="form-control" placeholder="" aria-describedby="phone2">
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="phone3">Phone3</span>
								  <input style="width:300px" name="phone3" type="text" class="form-control" placeholder="" aria-describedby="phone3">
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="email">E-mail</span>
								  <input style="width:300px" name="email" type="email" class="form-control" placeholder="" aria-describedby="email">
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="product_name">Product</span>
								  <input id="products" style="width:300px" name="product_name" type="text" class="form-control" placeholder="" aria-describedby="product_name">
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="invoice_file">Invoice</span>
								  <input style="width:300px" name="invoice_file" type="file" class="form-control" placeholder="" aria-describedby="invoice_file" required>
								</div>

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="comments">Comments</span>
								  <textarea style="width:300px" name="comments" type="text" class="form-control" placeholder="" aria-describedby="comments"></textarea>
								</div>

							</div>	
						</div>

						<div class="col-md-12 pull-right">
							<div  id="address-detail">
								<a href="#address" id="address-tab" role="tab" data-toggle="tab" aria-controls="address" aria-expanded="false" class="btn btn-success col-lg-2">Next</a>
							</div>
							
							<a href="/invoices" class="btn btn-default col-md-offset-1">cancel</a>
						</div>

					</div>

					<div class="tab-pane fade" role="tabpanel" id="address" aria-labelledby="address-tab">
						<div class="panel panel-default col-md-6">
							<div class="panel-body">

								<div class="input-group">
								  <span style="width:100px" class="input-group-addon" id="address">Address</span>
								  <textarea style="width:300px" type="text" class="form-control" name="address" placeholder="Address" aria-describedby="address" required></textarea>
								</div>

							</div>	
						</div>

						<div class="col-md-12 pull-right">
							<div  id="save-details">
								<button class="btn btn-success col-md-2">Save</button>
							</div>
							
							<a href="/invoices" class="btn btn-default col-md-offset-1">cancel</a>
						</div>

					</div>
				</div>
			</div>
			
		</div>
	</form>
</div>