<div class="container-fluid">

	<ol class="breadcrumb">
		<li>
			<a href="/">Home</a>
		</li>
		<li class="active">
			Products
		</li>
	</ol>

	<div class="container-fluid">

		<ul class="nav nav-pills">
			<li role="presentation" class="active">
				<a id="add-product" href="#">Add Product</a>
			</li>
		</ul>

	</div>

	<table class="table table-striped col-lg-6">

		<thead>
			<th>Product</th><th>Description</th>
		</thead>
		<tbody>
			{{#each productList}}

				<tr>
					<td>{{this.product_name}}</td><td>{{this.product_desc}}</td><td><a href="/edit/product/{{this.id}}">Edit</a></td>
				</tr>

			{{/each}}
		</tbody>

	</table>

	<form method="POST" action="/add/product" id="add-product-form">

		<!-- Modal -->
		<div class="modal fade" id="addProduct" tabindex="-1" role="dialog" aria-labelledby="addProductLabel">
		  <div class="modal-dialog modal-sm modal-dialog modal-sm" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h3 name="title" class="modal-title" id="addProductLabel">Add Product</h3>
		      </div>
		      <div class="modal-body">

		        <div class="container-fluid">
		        	<div class="row">
		                <div class='col-lg-12'>
		                    <div class="form-group">
		                        <div class='input-group date'>
		                            {{!-- <span class="input-group-addon">
		                                <span class="glyphicon glyphicon-calendar"></span>
		                            </span> --}}
		                            <input placeholder="Product Name" name="product_name" type='text' class="form-control" id='product_name' required />
		                        </div>
		                    </div>
		                </div>
		            </div>

	                <div class="row">
	                    <div class='col-lg-12'>
	                    	<div class='input-group date'>
	                    	    {{!-- <span class="input-group-addon">
	                    	        <span class="glyphicon glyphicon-calendar"></span>
	                    	    </span> --}}
	                    	    <input placeholder="(optional) Description" name="product_desc" type='text' class="form-control" id='product_desc' />
	                    	</div>
	                    </div>
	                </div>
	            </div>

		      </div>
		      <div class="modal-footer">
		        <button type="button" id="save-event" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        <button type="submit" class="btn btn-primary">Add Product</button>
		      </div>
		    </div>
		  </div>
		</div>

	</form>
	<script type="text/javascript">
		$('#add-product').on('click', function(){
			$('#addProduct').modal('show');
		})
	</script>

</div>